.calc-height{
    height: calc(100% - 150px);
}

.calc-height-chat{
    height: calc(100% - 50px);
}

.message-cont{
    max-height: 100%;
    overflow: auto;
}

#bg{
    background-color: #00afb9;
    color:white;

}

.socket-bg{
    background-color: rgb(249, 249, 249);
}

.position-form{
    position: absolute;
    display: flex;
    justify-content: space-around;
    bottom: 0;
    right: 0;
}

.input-w{
 width: 97%;
}


.submit-msg{
    width: 100%;
    margin-right: 10px;
    margin-left: 5px;
}
